@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&family=Poppins:wght@400;600;900&display=swap');

/* COLOR SETUP */

:root{
    --primary: #3155e7;
    --primary-dark: #2045d6;
    --dark: #010101;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #ffffff;
    --body: #fefefe;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--body);
}

/* buttons */

.btn{
    border-radius: 8px;
}
.btn-primary, .btn-outline-secondary{
    padding: 12px 20px;
}

.btn-primary{
    background-color: var(--primary);
}
.btn-primary:hover{
    background-color: var(--primary-dark);
}
.btn-outline-secondary{
    border: 1px solid var(--gray-2);
    color: var(--dark);
}
.btn-outline-secondary:hover{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--dark);
}
.btn-outline-secondary:focus{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--dark);
}

/* navbar */

.nav .btn-outline-secondary{
    border: 1px solid var(--gray-2);
    color: var(--dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}
.navbar{
    padding: 32px 0;
}

.nav-link{
    margin-left: 41px;
    font-size: 16px;
    color: var(--gray-1);
}

.navbar-nav .nav-link.active{
    font-weight: bold;
    color: var(--dark);
}

/* hero */

section.hero{
    padding: 80px 0;
}
section.hero .text{
    font-weight: 800;
    font-size: 48px;
    line-height: 73px;
    color: var(--dark);
}
.buttons{
    padding-top: 69px;
}
.buttons .btn{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

/* setup */

section.setup{
    padding: 150px 0;
}
section.setup .text-header h3{
    font-size: 43px;
    font-weight: 700;
    line-height: 48px;
    color: var(--dark);
}
section.setup .text-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--gray-1);
    padding: 27px 0;
}
section.setup .icons{
    padding: 27px 0;
}
section.setup h5{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: var(--dark);
    padding-bottom: 18px;
}
section.setup .desc p{
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: var(--gray-1);
    max-width: 284px;
    margin: 0 auto;
}

/* information */

section.information h5{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--dark);
}
section.information p{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: var(--gray-1);
    padding-top: 20px;
}
section.information .info-1{
    padding: 183px 0;
}

/* footer */

footer{
    padding-top: 100px;
    margin-bottom: 44px;
}
footer a{
    font-weight: bold;
    font-size: 14px;
    color: var(--dark);
    line-height: 18px;
}
footer .copy{
    margin-top: 32px;
    font-size: 14px;
    color: var(--gray-1);
    line-height: 17px;
    font-weight: 400;
}

/* responsive */

@media (max-width: 576px){
    
    section.hero, section.setup, section.information{
        text-align: center;
    }
    .navbar{
        padding: 20px 0;
    }
    .nav-link{
        margin-left: 0;
    }
    /* hero */
    section.hero img{
        padding-top: 2.5rem;
    }
    section.hero .text{
        font-weight: 800;
        font-size: 38px;
        line-height: 53px;
    }
    .buttons .btn{
        display: block;
        margin: 1rem 0;
    }
    .buttons .ms-3{
        margin-left: 0 !important;
    }

    /* setup */

    section.setup{
        padding: 50px 0;
    }

    /* footer */
    footer{
        padding-top: 50px;
        margin-bottom: 44px;
    }


}